/* For markdown editor component */
body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
    font-size: 1.2rem !important;
    line-height: 1.8rem !important;
    font-family: 'lato' !important;
}
.w-md-editor-text {
    height: 100%;
}

.w-md-editor-toolbar li.active > button:not(:disabled),
.w-md-editor-toolbar li > button:hover:not(:disabled),
.w-md-editor-toolbar li > button:focus:not(:disabled) {
    color: var(--indigo-700) !important;
}
