/* For markdown editor component */
body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-family: 'Inter' !important;
}

.w-md-editor-text {
    min-height: 100% !important;
}

.w-md-editor-toolbar li.active > button:not(:disabled),
.w-md-editor-toolbar li > button:hover:not(:disabled),
.w-md-editor-toolbar li > button:focus:not(:disabled) {
    color: var(--indigo-700) !important;
}

.code-highlight {
    font-family: 'JetBrains Mono', monospace !important;

    * {
        font-family: inherit !important;
    }
}

.wmde-markdown > *:not(code, pre) {
    font-family: 'Merriweather', serif;
}

.w-md-editor-area,
.w-md-editor-preview {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.025);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-300);
        border-radius: 1rem;
    }
}
