@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#root {
    min-height: 100vh;
}

a {
    color: #6366f1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3730a3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #312e81;
}

/* width */
.side-nav-links::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.side-nav-links::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.side-nav-links::-webkit-scrollbar-thumb {
    background: #eef2ff88;
    border-radius: 10px;
}

/* Handle on hover */
.side-nav-links::-webkit-scrollbar-thumb:hover {
    background: #312e81;
}
