@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --indigo-25: #f6f8ff;
    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #1e1b4b;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --gray-900: #212529;
    --gray-800: #343a40;
    --gray-700: #495057;
    --gray-600: #868e96;
    --gray-500: #adb5bd;
    --gray-400: #ced4da;
    --gray-300: #dee2e6;
    --gray-200: #e9ecef;
    --gray-100: #f1f3f5;
    --gray-50: #f8f9fa;

    --yellow-700: #fab005;
    --yellow-600: #fcc419;
    --yellow-500: #ffd43b;

    --yellow-400: #f1ee63;
    --yellow-300: #f1ef70;
    --yellow-200: #f9f8c1;

    --gray-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    --black-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    --tag-shadow: rgb(30, 64, 175, 0.5) 0px 1px 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

    &::-webkit-scrollbar {
        width: 0.4rem;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.025);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--gray-300);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--gray-400);
    }
}

body {
    color: var(--gray-800);
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--indigo-950);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--indigo-950);
    }
}

main:has(.mujedd-chat-room, .mujedd-ai-page) {
    background: var(--indigo-50);
}

#root {
    min-height: 100vh;
}

a {
    color: #6366f1;
}

hr {
    border-color: var(--gray-300);
}

.slick-prev:before,
.slick-next:before {
    color: #312e81 !important;
    min-width: 14rem !important;
}

.message-toast {
    position: relative;
    padding-right: 3rem !important;
    width: 300px;
    div {
        justify-content: flex-start !important;
    }
}
