@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #0d062d;
    
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --gray-900: #212529;
    --gray-800: #343a40;
    --gray-700: #495057;
    --gray-600: #868e96;
    --gray-500: #adb5bd;

    --gray-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    --black-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    --tag-shadow: rgb(30, 64, 175, 0.5) 0px 1px 4px;

    --gradient-50: linear-gradient(var(--indigo-50), rgba(199, 210, 254, 0.5));
    --gradient-75: linear-gradient(var(--indigo-50), rgba(199, 210, 254, 0.75));
    --gradient-75-top: linear-gradient(
        to top,
        var(--indigo-50),
        rgba(199, 210, 254, 0.75)
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#root {
    min-height: 100vh;
}

a {
    color: #6366f1;
}

hr {
    border-color: var(--slate-300);
}

/* width */
body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--indigo-900);
}

/* width */
.side-nav-links::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.side-nav-links::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.side-nav-links::-webkit-scrollbar-thumb {
    background: #56669c88;
    border-radius: 10px;
}

/* Handle on hover */
.side-nav-links::-webkit-scrollbar-thumb:hover {
    background: #312e81;
}
.slick-prev:before,
.slick-next:before {
    color: #312e81 !important;
    min-width: 14rem !important;
}

@media (min-width: 640px) {
    .background {
        background-image: url(./assets/imgs/Hero-illustration.svg);
        background-position: center center;

        background-repeat: no-repeat;
        height: auto;
        max-width: 95%;

        background-size: contain;
    }
}
