@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#root {
    min-height: 100vh;
}

a {
    color: #6366f1;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    width: 5px;
    background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #3730a3;
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #312e81;
}

/* width */
.side-nav-links::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.side-nav-links::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.side-nav-links::-webkit-scrollbar-thumb {
    background: #56669c88;
    border-radius: 10px;
}

/* Handle on hover */
.side-nav-links::-webkit-scrollbar-thumb:hover {
    background: #312e81;
}
.slick-prev:before,
.slick-next:before {
    color: #312e81 !important;
    min-width: 14rem !important;
}

@media (min-width: 640px) {
    .background {
        background-image: url(./assets/imgs/Hero-illustration.svg);
        background-position: center center;

        background-repeat: no-repeat;
        height: auto;
        max-width: 95%;

        background-size: contain;
    }
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}